:root {
  --maincolor: cornsilk;
}
body {
  background: repeating-linear-gradient(
    45deg,
    rgb(182, 88, 174) 0px,
    rgb(182, 88, 174) 20px,
    rgb(138, 55, 131) 80px
  );
}
body * {
  color: rgba(105, 90, 205);
  margin: auto;
}
a {
  text-decoration: none;
}
Main {
  background-color: var(--maincolor);
  width: 90%;
  min-width: 240px;
  max-width: 600px;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 24px;
  margin-top: 7%;
  margin-bottom: 7%;
}
header {
  padding: 5% 10% 2% 10%;
}
h1 {
  color: slateblue;
  font-size: 3rem;
  padding-bottom: 3%;
}
p {
  font-size: 1rem;
  font-weight: bolder;
}
form {
  margin: 10%;
}
form input {
  border: none;
  border-bottom: 2px solid;
  background-color: floralwhite;
  background-color: var(--maincolor);
}
form input:active {
  border-color: var(--maincolor);
}
form input::placeholder {
  color: rgba(105, 90, 205, 0.61);
}
.naudotojovardas,
.password,
.email {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 5%;
  text-indent: 15%;
  padding-top: 6px;
  padding-bottom: 8px;
  background-repeat: no-repeat;
  background-size: 1.7rem;
  margin-top: 5px;
  font-size: 1.5em;
}
.naudotojovardas {
  background-image: url(./etaPNG.png);
}
.password {
  background-image: url(./keyPNG.png);
}
.email {
  background-image: url(./mailPNG.png);
}
#postform {
  font-size: 1em;
  font-weight: bolder;
}
#checkboxdiv {
  display: inline-block;
  float: left;
  width: 45%;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
#slap {
  display: inline-block;
  float: right;
  width: 45%;
  text-align: right;
}
#slap > a:hover {
  color: rgb(45, 45, 124);
  font-size: 1.1em;
  text-shadow: 2px 2px 10px rgb(45, 45, 124);
}
.buttondiv {
  margin-top: 20%;
}
.button {
  width: 100%;
  background-color: slateblue;
  background-image: linear-gradient(to right, blueviolet, rgb(74, 74, 252));
  border-radius: 5rem;
  border: none;
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgb(74, 74, 252);
}
.buttondiv a {
  color: floralwhite;
  letter-spacing: 3px;
}
.buttondiv a:hover {
  text-decoration: underline;
  font-size: 1.7rem;
  text-shadow: 3px 3px 10px rgb(250, 250, 252);
}
footer {
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.pabaigosp {
  margin: 0%;
}
.pabaigospp {
  margin: 2%;
}
.paryskinta {
  font-weight: bold;
  font-size: 1.3rem;
}
.paryskinta:hover {
  color: rgb(45, 45, 124);
  font-size: 1.5rem;
  text-shadow: 2px 2px 10px rgb(45, 45, 124);
}
@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  .button {
    font-size: 1.2rem;
  }
  .buttondiv a:hover {
    font-size: 1.3rem;
  }
  .paryskinta {
    font-size: 1.1rem;
  }
  .paryskinta:hover {
    font-size: 1.2rem;
  }
  .naudotojovardas,
  .password,
  .email {
  font-size: 1rem;
  }
  header {
    padding: 10% 10%, 2%, 10%
  }
}
